.nav {
    /* border: 1px solid red; */
    height: 70px;
    width: 100%;
    display: flex;
}
.logo {
    margin-left: 20px;
    height: 70px;
    width: 10% ;
}
.menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
    
}
.search {
    width: 40%;
    height: 40px;
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid grey;
}
.text {
    margin-left: 20px;
    margin-top: -7px;
}
.text1{
margin-top: 7px;
margin-left: 10px;
}
.text1 > input {
    border: none;
    outline: none;

    width: 500px;
    height: 20px;

}
.icons{
    display: flex;
    width:10%;
    height: 40px;
    margin-top: 15px;
    margin-left: 40px;
    /* border: 1px solid red; */
    justify-content: space-around;

}
.profile > h6 {
    margin-top: 5px;
}
.wishlist > h6 {
    margin-top: 5px;
}
.bag > h6 {
    margin-top: 5px;
}